:root {
    --primary-color: #0cc9f0;
}

body {
    background-color: white;
}

.hero {
    padding: 100px 0;
    text-align: center;
    position: relative;

    .avatar {
        width: 150px;
        border-radius: 50%;
    }

    .name {
        font-size: 3rem;
        font-weight: bold;

        .highlight {
            color: var(--primary-color);
        }
    }

    .intro {
        font-size: 1.5rem;
        margin-top: 20px;

        .highlight {
            color: var(--primary-color);
        }
    }

    .social-icons {
        a {
            color: #000;
            margin: 0 10px;
            font-size: 1.5rem;

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}